.forecast-container {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
  }
  #today {
    display: flex;
    flex-direction: row;
    margin-left: 300px;
  }

  .first-day-container {
    width: 400px;
    background-color: #dfe2e6;
    color: rgb(32, 31, 31);
    padding: 10px;
    margin: 5px;
  }
  
  
  .forecast-day {
    background-color: #2D3E50;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 150px;
    margin-left: 300px;
  }


 

